@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?48093870');
  src: url('../font/fontello.eot?48093870#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?48093870') format('woff2'),
       url('../font/fontello.woff?48093870') format('woff'),
       url('../font/fontello.ttf?48093870') format('truetype'),
       url('../font/fontello.svg?48093870#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?48093870#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-comment:before { content: '\2691'; } /* '⚑' */
.icon-export:before { content: '\e70b'; } /* '' */
.icon-search:before { content: '\e816'; } /* '' */
.icon-mail:before { content: '\e817'; } /* '' */
.icon-heart:before { content: '\e818'; } /* '' */
.icon-heart-empty:before { content: '\e819'; } /* '' */
.icon-star:before { content: '\e81a'; } /* '' */
.icon-star-empty:before { content: '\e81b'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-picture:before { content: '\e821'; } /* '' */
.icon-ok:before { content: '\e827'; } /* '' */
.icon-home:before { content: '\e836'; } /* '' */
.icon-link:before { content: '\e837'; } /* '' */
.icon-attach:before { content: '\e83a'; } /* '' */
.icon-lock:before { content: '\e83b'; } /* '' */
.icon-lock-open:before { content: '\e83c'; } /* '' */
.icon-tag:before { content: '\e848'; } /* '' */
.icon-tags:before { content: '\e849'; } /* '' */
.icon-bookmark-2:before { content: '\e84a'; } /* '' */
.icon-forward:before { content: '\e84d'; } /* '' */
.icon-pencil:before { content: '\e84e'; } /* '' */
.icon-edit:before { content: '\e84f'; } /* '' */
.icon-chat:before { content: '\e852'; } /* '' */
.icon-attention:before { content: '\e854'; } /* '' */
.icon-folder-open:before { content: '\e85a'; } /* '' */
.icon-login:before { content: '\e861'; } /* '' */
.icon-logout:before { content: '\e862'; } /* '' */
.icon-floppy:before { content: '\e8b6'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty-1:before { content: '\f097'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
